@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: rgba(119, 51, 68, 1);
  --light-main: rgba(171, 73, 98, 1);
  --secondary: rgba(69, 111, 32, 1);
  --light-secondary: rgba(96, 153, 45, 1);
  --light: rgba(195, 223, 224, 1);
  --dark: rgba(2, 24, 43, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--black));
  background-image: linear-gradient(to bottom, var(--white), var(--white));
  height: 100vh;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
