@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --white: 255, 255, 255, 1;
  --lavender-web: 214, 227, 248, 1;
  --black: 0, 0, 0, 1;
  --pigment-green: 0, 175, 84, 1;
  --desert-sand: 228, 187, 151, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--black));
  background: linear-gradient(to bottom, rgb(var(--lavender-web)), rgb(var(--desert-sand))) no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}